[user]
	email = {{ .email }}
	name = {{ .name }}

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[branch]
	sort = -committerdate

[alias]
	sync = !git switch main && git pull --prune && git branch --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" { print $1 }' | xargs -r git branch -D
	l = log --graph --pretty=format:'%C(yellow)%H%Creset%nAuthor: %C(bold blue)%an <%ae>%Creset%nDate:   %C(green)%ad%Creset%n%n    %s%n' --date=iso
	s = status
	ap = add -p
	a = add -A
	c = commit -v
	co = checkout
	d = diff
	b = branch

[delta]
	navigate = true
	dark = true
	side-by-side = true
	line-numbers = true
	syntax-theme = zenburn

[merge]
	conflictStyle = zdiff3
