local wezterm = require 'wezterm'

local mux = wezterm.mux
local config = wezterm.config_builder()

config.enable_tab_bar = false
config.color_scheme = 'catppuccin-macchiato'
config.window_background_opacity = 0.9
config.inactive_pane_hsb = {
    hue = 0.9,
    saturation = 0.7,
    brightness = 0.8,
}
config.font_size = 10.0

{{ if eq .chezmoi.os "linux" -}}
-- Disable window decorations on linux since we use `niri`.
config.window_decorations = "NONE"
{{- end }}

{{ if eq .chezmoi.hostname "fir" -}}
-- Use x11 due to NVIDIA issues with wayland.
-- https://github.com/wezterm/wezterm/issues/3214
config.enable_wayland = false
{{- end }}

-- Plugins
local workspace_switcher = wezterm.plugin.require("https://github.com/MLFlexer/smart_workspace_switcher.wezterm")
local function get_command_output(cmd)
    local handle = io.popen(cmd)
    if handle then
        local result = handle:read("*a")
        handle:close()
        return result:gsub("%s+$", "")
    end
    return nil
end
workspace_switcher.zoxide_path = get_command_output("command -v zoxide")

-- Set main keybinding key to "CTRL + p"
config.leader = { key='p', mods='CTRL', timeout_milliseconds=1000 }

-- https://wezfurlong.org/wezterm/config/keys.html#raw-key-assignments
-- https://wezfurlong.org/wezterm/config/keys.html#configuring-key-assignments
config.keys = {
    -- Split pane; pane 1 | pane 2
    {
        key = '|',
        mods = 'LEADER|SHIFT',
        action = wezterm.action { SplitHorizontal={domain='CurrentPaneDomain'} },
    },
    -- Split pane
    -- pane 1
    -- -----
    -- pane 2
    {
        key = '-',
        mods = 'LEADER',
        action = wezterm.action { SplitVertical={domain='CurrentPaneDomain'} },
    },

    -- Switch to new or existing workspace
    {
        key = 'W',
        mods = 'LEADER|SHIFT',
        action = wezterm.action.PromptInputLine {
            description = wezterm.format {
                { Attribute = { Intensity = 'Bold' } },
                { Foreground = { AnsiColor = 'Fuchsia' } },
                { Text = 'Enter name for new workspace.' },
            },
            action = wezterm.action_callback(function(window, pane, line)
                -- line will be `nil` if they hit escape without entering anything
                -- An empty string if they just hit enter
                -- Or the actual line of text they wrote
                if line then
                    window:perform_action(
                        wezterm.action.SwitchToWorkspace {
                            name = line,
                        },
                        pane
                    )
                end
            end),
        },
    },

    -- Move between panes
    { key = 'h', mods = 'LEADER', action=wezterm.action{ActivatePaneDirection='Left'} },
    { key = 'j', mods = 'LEADER', action=wezterm.action{ActivatePaneDirection='Down'} },
    { key = 'k', mods = 'LEADER', action=wezterm.action{ActivatePaneDirection='Up'} },
    { key = 'l', mods = 'LEADER', action=wezterm.action{ActivatePaneDirection='Right'} },

    -- Mpve between workspaces
    { key = 'n', mods = 'CTRL', action = wezterm.action.SwitchWorkspaceRelative(1) },
    { key = 'b', mods = 'CTRL', action = wezterm.action.SwitchWorkspaceRelative(-1) },

    -- Smart workspace switcher plugin
    -- https://github.com/MLFlexer/smart_workspace_switcher.wezterm?tab=readme-ov-file#Keybinding
    { key = 's', mods = "LEADER", action = workspace_switcher.switch_workspace() },
    { key = 'S', mods = "LEADER|SHIFT", action = workspace_switcher.switch_to_prev_workspace() },

    -- Copy and paste from clipboard
    { key ='p',  mods='LEADER', action=wezterm.action.PasteFrom 'Clipboard' },
    { key ='y',  mods='LEADER', action=wezterm.action.CopyTo 'Clipboard' },

    -- Font sizing
    { key = '+', mods = 'CTRL', action=wezterm.action.IncreaseFontSize },
    { key = '-', mods = 'CTRL', action=wezterm.action.DecreaseFontSize },
    { key = '0', mods = 'CTRL', action=wezterm.action.ResetFontSize },
}

-- On first startup
wezterm.on('gui-startup', function(cmd)
    -- Allow startup args if present.
    -- `wezterm start -- something`
    local args = {}
    if cmd then
        args = cmd.args
    else
        -- Auto-set shell based on machine
        if wezterm.target_triple == 'x86_64-pc-windows-msvc' then
            args = { 'powershell.exe', '-NoLogo' }
        else
            -- Assume anything else just uses zsh
            args = { '/usr/bin/env', 'zsh' }
        end
    end

    -- Set default workspace
    local tab, pane, window = mux.spawn_window{args=args}
    window:gui_window()
end)

-- Defaults for additional panes and windows
if wezterm.target_triple == 'x86_64-pc-windows-msvc' then
    config.default_prog = { 'powershell.exe', '-NoLogo' }
else
    args = { '/usr/bin/env', 'zsh' }
end

return config
