#!/bin/bash

set -euo pipefail

{{ if eq .chezmoi.osRelease.id "pop" -}}

sudo apt update

{{ range .packages.ubuntu }}
sudo apt install -y {{ . }}
{{- end }}

{{ range .packages.dpkg }}
wget -qO- {{ . | quote }} > /tmp/pkg.deb && sudo dpkg -i /tmp/pkg.deb && rm -rf /tmp/pkg.deb
{{- end }}

{{ range .packages.brew }}
brew install {{ . }}
{{- end }}

{{- end }}
