[user]
name = {{ .name | quote }}
email = {{ .email | quote }}

[ui]
default-command = "log"
color = "always"
editor = "nvim"
paginate = "auto"
pager = "delta"
diff-formatter = ":git"
conflict-marker-style = "git"
log-word-wrap = true

[merge-tools.delta]
# Silence 0 and 1 exit codes when using `delta`
diff-expected-exit-codes = [0, 1]

[templates]
log = "builtin_log_compact"
git_push_bookmark = '"allisu/push-" ++ change_id.short()'

[remotes.origin]
auto-track-bookmarks = "main"

[remotes.upstream]
auto-track-bookmarks = "main"
