{{- if eq .chezmoi.hostname "fir" }}
# local bin
export PATH=$HOME/.local/bin:$PATH
# local bin end

# go
export PATH=$PATH:/usr/local/go/bin
# go end

# java
export JAVA_HOME="/usr/lib/jvm/jdk-21.0.7+6"
export PATH="$PATH:$JAVA_HOME/bin"
# java end

# pnpm
export PNPM_HOME="{{- .chezmoi.homeDir -}}/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end

# rust
export PATH="$HOME/.cargo/bin:$PATH"
# rust end

. "$HOME/.cargo/env"
{{- else if eq .chezmoi.hostname "birch" }}
# local bin
export PATH=$HOME/.local/bin:$PATH
# local bin end

# go
export PATH=$PATH:/usr/local/go/bin
# go end

# nvm
export NVM_DIR="$HOME/.nvm"
  [ -s "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" ] && \. "$HOMEBREW_PREFIX/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm" ] && \. "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion
# nvm end

# pnpm
export PNPM_HOME="{{- .chezmoi.homeDir -}}/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end
{{- end }}
