[Desktop Entry]
Name=Zen
Icon=zen-browser
Comment=Minimalist web browser
Exec=/usr/bin/firejail /usr/local/bin/zen %U
Terminal=false
Type=Application
StartupWMClass=zen
Categories=Network;WebBrowser;
