{{ $module := "mako" }}

{{- if eq .chezmoi.hostname "birch" -}}
{{- include (print "doc_config/" $module "/config_birch") -}}
{{- else if eq .chezmoi.hostname "fir" -}}
{{- include (print "dot_config/" $module "/config_fir") -}}
{{- end }}
